.form-response-holder {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
}

.form-response-holder.fill {
  background: rgba(255, 255, 255, 0.6);
}

.form-response-holder.fixed {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
}

.form-response-holder.fixed .form-response {
  margin: 68px 40px;
}

.form-response {
  padding: 15px 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  display: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.form-response .msg {
  font-size: 20px;
}

.form-response .msg p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.form-response i {
  font-size: 30px;
}

.form-response.pending {
  background: #FFF;
  border: 1px solid #DDD;
}

.form-response.pending i {
  color: #ddd;
}

.form-response.warning {
  background: #FFFEF2;
  border: 1px solid #EEE500;
}

.form-response.warning i {
  color: #EEE500;
}

.form-response.complete {
  background: #F0FFE7;
  border: 1px solid #5CB85E;
}

.form-response.complete i {
  color: #5CB85E;
}

.form-response.error {
  background: #FFF4F4;
  color: #CF2121;
  border: 1px solid #EE9191;
}

.form-response.show {
  -webkit-animation: bounce 0.2s ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}